* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size:14px;
	color:#000;
	font-family: sans-sarif, arial !important;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
a:hover {
		text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
img {
	width:100%;
}
.flex {
	display:flex;
}
.table {
	display: table;
}
.space {
	justify-content:space-between;
}
.floatl {
	float:left;
}
.floatr {
	float:right;
}
.fix {
	overflow:hidden;
}
.clearfix{
	clear: both;
}



.video-area-bg {
	background: url(../img/download.jpg) center center / cover; 
;
}

.check-icons li:before {
	font-family: "FontAwesome";
	content:"\f017";
}



.section {
  position: relative;
  margin: 50px 0;
}
.video-area-bg {
  position: absolute;
  height: 100%;
  width: 40%;
  box-shadow: 0px 0px 20px #3f3434;
}
.video-play-btn {
  width: 80px;
  height: 80px;
  background: blue;
  position: absolute;
  right: -40px;
  top: calc(50% - 40px);
  color: #fff;
  font-size: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 78px;
  padding-left: 5px;
  z-index: 1;
}
.list-content {
    padding: 60px 0;
}
.list-content p {
  font-size: 15px;
  color: #908181;
}
.check-icons li {
  padding-left: 30px;
  position: relative;
}
ul.check-icons li:before {
  position: absolute;
  left: 0;
  top: -2px;
  color: #3535db;
}
ul.check-icons li a {
  display: block;
  padding-bottom: 10px;
  color: #333;
}
ul.check-icons li a:hover {
  color: blue;
}




