/* Large devices (desktops, 992px and up) */
@media only screen and (min-width:992px) and (max-width:1200px) {
    

}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width:768px) and (max-width:991px) {
	.main-menu ul {
	    padding-right: 0px;
	}
	.main-menu ul li a {
	    padding: 20px 8px;
	}
	.main-menu ul li a i.fa {
	    right: 0px;
	    top: 30px;
	}
	.single-service-box {
	    padding: 50px 15px 15px;
	}
	.single-service-box h3 {
	    font-size: 14px;
	}
	.single-service-content p {
	    font-size: 12px;
	}
	.single-service-box .btn {
	    font-size: 14px;
	}
	.slider-content h1 {
	    font-size: 32px;
	    margin-bottom: 30px;
	}
	.domain-extention {
	    margin-bottom: 30px;
	}
	.section-feature-title, .pricing-plan-title {
	    margin-bottom: 70px;
	}
	.section-feature-title h1,
	.pricing-plan-title h1,
	.client-title h1 {
	    font-size: 37px;
	}
	.domain-name-content h2 {
	    font-size: 26px;
	}
	.domain-extention ul li {
	    margin-bottom: 10px;
	    padding-right: 10px;
	}
	.domain-extention ul li h6 {
	    font-size: 14px;
	}
	.domain-extention ul li p {
	    font-size: 12px;
	}
	.domain-extention ul li p span {
	    font-size: 10px;
	}
	.domain-name-bg {
	    height: 480px;
	}
	.masonry-content {
	    padding: 10px 20px;
	}
	.pricing-header h6 {
	    font-size: 16px;
	    margin-bottom: 14px;
	}
	.pricing-header p {
	    font-size: 26px;
	}
	.pricing-header .pricing-label {
	    font-size: 10px;
	    left: -75px;
	    top: 22px;
	}
	.pricing-icon {
	    width: 80px;
	    height: 80px;
	    line-height: 100px;
	    left: calc(50% - 40px);
	    bottom: -40px;
	}
	.pricing-icon i.fa {
	    font-size: 24px;
	}
	.pricing-icon span {
	    width: 66px;
	    height: 30px;
	}
	.single-fun-area h3 {
	    font-size: 16px;
	}
	.single-fun-area span {
	    font-size: 28px;
	}
	.single-fun-area::after {
	    right: 10px;
	}
	.other-service-title h1 {
	    font-size: 28px;
	}
	.tab-area .nav li {
	    height: 50px;
	    width: 60px;
	}
	.tab-area .nav li a {
	    font-size: 20px;
	}
	.tab-area .nav {
	    margin: 60px 0;
	}
	#myTabContent {
	    padding: 30px;
	}
	.contact h3, .contact h3 a {
	    font-size: 18px;
	    line-height: 24px;
	}
	.contact p {
	    font-size: 10px;
	}
	.contact i.fa {
	    font-size: 28px;
	    left: 15px;
	}
	.footer, .footer a {
	    font-size: 10px;
	}
	.widget-1 .btn {
	    font-size: 12px;
	    margin-bottom: 16px;
	}
	.social-links i.fa {
	    padding-left: 4px;
	}
	.widget-4 p i.fa {
	    font-size: 20px;
	}
	.Newsletter-form + p {
	    margin: 15px 0;
	}
	.footer-top {
	    padding: 40px 0;
	}
	.widget h4 {
	    margin-bottom: 26px;
	    font-size: 16px;
	}
	.Newsletter-form input[type="submit"] {
	    position: static;
	    margin-top: 6px;
	}
	.Newsletter-form {
	    text-align: center;
	}
}





/* Moblie devices (mobile, 0px to 768px) */
@media only screen and (max-width:767px) {

	.logo {
	    padding: 0;
	    text-align: center;
	}
	.shoping-cart {
	    padding: 20px 0;
	    text-align: center;
	}
	.menu {
	    margin-top: 0;
	    position: absolute;
	    right: 42px;
	    bottom: 27px;
	}
	.logo img {
	    margin-top: 20px;
	}
	.header-top-left a {
	    padding-left: 12px;
	}
	.header-top-right span {
	    padding-left: 10px;
	    border-left: 1px solid #333;
	    margin-left: 8px;
	    display: inline-block;
	    font-size: 10px;
	}
	.homepage-slider .owl-nav div {
	    font-size: 30px;
	    color: #119EE6;
	    background: none;
	    width: 0;
	    height: 0;
	    line-height: 0;
	    right: 60px;
	    bottom: 0px;
	    left: auto;
	    top: auto;
	}
	.homepage-slider .owl-nav div.owl-next {
	    left: auto;
	    right: 25px;
	}
	.shoping-cart .absolute-user {
	    left: 20px;
	    bottom: 15px;
	}
	.slider-area {
	    padding: 50px 0;
	}
	.header-bottom .col-sm-1 {
		display: block;
		visibility: visible;
	}
	.header-top-left {
	    text-align: center;
	    margin-bottom: 10px;
	}
	.header-top-right {
	    text-align: center;
	}
	.header-bottom .col-md-8 {
	    display: none;
	}
	.shoping-cart::before {
	    display: none;
	    visibility: hidden;
	}
	.absolute-user {
	    height: 40px;
	    width: 40px;
	    left: 120px;
	    bottom: 17px;
	}
	.absolute-user a {
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    left: 3px;
	    top: 3px;
	    font-size: 16px;
	}
	.slider-content h1 {
	    font-size: 32px;
	}
	.slide-content {
	    margin-bottom: 50px;
	}
	.service-section {
	    display: block;
	}
	.single-service-box {
	    width: 100%;
	    margin-bottom: 40px;
	}
	.single-service-box:hover {
	    margin-top: 0px;
	}
	.single-service-content {
	    margin-bottom: 0px;
	}
	.domain-name-content p {
	    margin-bottom: 8px;
	    font-size: 12px;
	}
	.domain-name-content h2 {
	    color: #fff;
	    font-size: 22px;
	}
	.domain-extention ul li {
	    display: inline-block;
	    padding-right: 10px;
	}
	.domain-extention ul li h6 {
	    line-height: 8px;
	    font-size: 14px;
	}
	.domain-extention ul li p {
	    font-size: 12px;
	}
	.domain-extention ul li p span {
	    font-size: 10px;
	}
	.domain-extention ul li p span {
	    text-transform: capitalize;
	    font-size: 10px;
	}
	.section-feature-title h1, .pricing-plan-title h1 {
	    font-size: 28px;
	}
	.section-feature-title p, .pricing-plan-title p {
	    font-size: 14px;
	    margin-bottom: 8px;
	}
	.section-feature-title, .pricing-plan-title {
	    margin-bottom: 40px;
	}
	.section-padding {
		padding: 40px 0;
	}
	.feature-row {
	    margin-bottom: 0px;
	}
	.pricing-box {
		margin-bottom: 15px;
	}
	.fun-section {
	    display: block;
	    height: auto;
	    padding: 40px 5px 0px;
	}
	.single-fun-area::after {
	    display: none;
	    visibility: hidden;
	}
	.single-fun-area {
	    margin-bottom: 30px;
	    text-align: center;
	}
	.single-fun-area span {
	    font-size: 34px;
	}
	.single-fun-area h3 {
	    font-size: 22px;
	}
	.pricing-header .pricing-label {
	    font-size: 10px;
	    left: -38%;
	    top: 11%;
	}
	.icon1::before, .icon2::before, .icon3::before, .icon4::before {
	    left: calc(50% - 30px);
	}
	.other-service-title p {
	    font-size: 14px;
	    margin-bottom: 14px;
	}
	.other-service-title h1 {
	    font-size: 22px;
	}
	.tab-area .nav li {
	    height: 46px;
	    width: 50px;
	}
	.tab-area .nav li a {
	    font-size: 16px;
	}
	.tab-area .nav {
	    margin: 40px 0;
	}
	#myTabContent {
	    box-shadow: 0 0 5px #ddd;
	    padding: 40px 10px;
	}
	.other-service-content {
	    margin-bottom: 40px;
	}
	.single-masonry-item {
	    width: 100%;
	    display: block;
	    padding: 30px 20px;
	    height: auto;
	}
	.single-masonry-item:nth-child(1) {
		height: auto;
	    text-align: right;
	    width: 100%;
	}
	.single-masonry-item:nth-child(3), .single-masonry-item:nth-child(4) {
	    width: 100%;
	}
	.client-title p {
	    font-size: 14px;
	    margin-bottom: 10px;
	}
	.client-title h1 {
	    font-size: 28px;
	}
	.client-title {
	    margin-bottom: 50px;
	}
	.contact i.fa {
	    font-size: 30px;
	    position: static;
	    margin-bottom: 10px;
	}
	.contact {
	    display: block;
	    padding-left: 0;
	    text-align: center;
	    margin-bottom: 40px;
	}
	.contact h3, .contact h3 a {
	    font-size: 22px;
	    line-height: 22px;
	}
	.contact p {
	    font-size: 12px;
	}
	.client-title {
	    margin-bottom: 40px;
	}
	.quick-contact-area {
	    padding-top: 50px;
	}
	.footer {
	    position: static;
	    text-align: center;
	}
	.footer-top {
	    padding: 60px 0;
	}
	.widget {
	    margin-bottom: 60px;
	}
	.widget h4 {
	    margin-bottom: 20px;
	}
	.widget-4 {
	    margin-bottom: 0;
	}
	.footer-bottom {
	    padding: 20px 0;
	    font-size: 12px;

	}
	.widget-4 .billing {
		margin: 0;
	}
	.feature-content {
	    margin-bottom: 40px;
	}
	.feature-icon {
	    margin-bottom: 20px;
	}

}




/* Wide Mobile Layout: (480px to 767px) */
@media only screen and (min-width:480px) and (max-width:767px) {
	
	.pricing-header .pricing-label {
	    font-size: 10px;
	    left: -210px;
	    top: 28px;
	}
	.header-top-right span {
	    padding-left: 10px;
	    border-left: 1px solid #333;
	    margin-left: 8px;
	    display: inline-block;
	    font-size: 14px;
	}
	.homepage-slider .owl-nav div {
	    font-size: 28px;
	    width: 30px;
	    height: 70px;
	    line-height: 70px;
	    top: calc(50% - 35px);
	    color: #fff;
	    background: #119EE6;
	    left: 0;
	}
	.homepage-slider .owl-nav div.owl-next {
	    right: 0;
	}

}