
/* ================= General ==================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body { 
	height: 100% 
}
body {
    font-family: sans-serif, serif;
	color: #61727f;
	background: #fff;
	line-height: 18px;
}

/* Link style
------------------------------ */
a{
	text-decoration: none;
}
a:hover {
	text-decoration: none;
    transition: all 0.3s ease; 
}

/* ================ Typography ================== */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: sans-serif;
	color: #212121;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
img {
	max-width:100%;
	height: auto;
}
.section-padding {
	padding: 100px 0;
}

.section-title {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
  font-weight: 700;
}
.section-title h2 {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}


.single-service-box {
    background: #ddd url(../img/bg3.jpg) no-repeat center center / cover;
    display: block;
    height: 350px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 3px #333;
    border-radius: 3px 3px 0 0;
}
.bg2 {background: #ddd url(../img/bg10.jpg) no-repeat center center / cover;}
.bg3 {background: #ddd url(../img/bg9.jpg) no-repeat center center / cover;}









.service-box-bottom {
  position: absolute;
  color: #fff;
  background: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  transition: .3s;
}
.service-box-bottom i.fa {
  position: absolute;
  background: #23395B;
  width: 100px;
  height: 100px;
  font-size: 50px;
  border: 5px solid #fff;
  border-radius: 50%;
  line-height: 90px;
  left: calc(50% - 50px);
  top: -70px;
  transition: .3s;
  text-align: center;
}
.service-box-bottom h2 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: ;
  padding-top: 20px;
  transition: .3s;
}
.single-service-box:hover .service-box-bottom {
  background: #23395B;
}
.single-service-box:hover .service-box-bottom h2 {
  color: #fff;
}
.single-service-box:hover .service-box-bottom i.fa {
  background: #0EB9D1;
  border-color: #23395B;
}






























