* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size:14px;
	color:#000;
	font-family: sans-sarif, arial !important;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
a:hover {
		text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
img {
	width:100%;
}
.flex {
	display:flex;
}
.table {
	display: table;
}
.space {
	justify-content:space-between;
}
.floatl {
	float:left;
}
.floatr {
	float:right;
}
.fix {
	overflow:hidden;
}
.clearfix{
	clear: both;
}
.section-padding {
	padding: 60px 0;
	background: linen;
	margin: 100px 0;
}





.section-title-borders span {
  height: 6px;
  width: 50px;
  background: #35ab35;
  display: inline-block;
  border-radius: 5px;
}
.section_title {
  margin-bottom: 50px;
}
.section-title-borders .black-border {
  width: 30px;
  background: #000;
}
.section_title h3 {
  text-transform: capitalize;
  font-size: 32px;
}



.owl-item .single-client {
  box-shadow: 0 0 5px #7b6868;
  margin: 2px;
}
.single-client .content {
  flex: 3;
  padding: 10px;
  position: relative;
}
.single-client .icon {
  flex: 1;
  align-self: center;
  text-align: center;
}
.single-client .content::after {
    position: absolute;
    content: "";
    border-left: 1px solid #ddd;
    height: 80%;
    width: 100%;
    left: 0;
    top: 10%;
}
.single-client .icon i.fa {
  font-size: 40px;
  color: #35ab35;
}
.content h4 {
  text-transform: capitalize;
  font-size: 24px;
  margin-top: 20px;
}
.content h4 span {
  font-size: 14px;
  display: block;
}




.client-area .owl-dots div {
  height: 5px;
  width: 20px;
  background: green;
  display: inline-block;
  margin: 2px;
  border-radius: 3px;
  transition: all ease .5s;
}
.client-area .owl-dots div.active {
  width: 30px;
  background: #000;
}
.client-area .owl-dots {
  margin-top: 20px;
  text-align: center;
}


