
/* ================= General ==================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body { 
	height: 100% 
}
body {
    font-family: sans-serif, serif;
	color: #61727f;
	background: #fff;
	line-height: 18px;
}

/* Link style
------------------------------ */
a{
	text-decoration: none;
}
a:focus {
	outline: 0 solid;
}
a:hover {
	text-decoration: none;
	color: blue;
    transition: all 0.3s ease; 
}

/* Transition elements
------------------------------ */
a,
.navbar a,
.form-control {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}


/* ================ Typography ================== */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: sans-serif;
	color: #212121;
	margin: 0;
}
.btn {
	color: #fff;
	padding: 14px 30px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: sans-serif;
	border-radius: 3px;
	box-shadow: 0 4px 5px rgba(34, 34, 34, 0.2);
    border-radius: 50px;
}
.btn:hover {
    box-shadow: 0 8px 10px rgba(34, 34, 34, 0.2);
}
.btn-primary {
	background-color: #3452ff;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #3452ff;
    border-color: #3452ff;
}
.btn-sm {
    padding: 8px 20px;
    font-size: 12px;
    font-weight: 400;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
img {
	max-width:100%;
	height: auto;
}
.flex {
	display:flex;
}
.table {
	display: table;
	width: 100%;
	height: 100%;
}
.table-cell {
	display: table-cell;
	vertical-align: middle;
}
.space {
	justify-content:space-between;
}
.floatl {
	float:left;
}
.floatr {
	float:right;
}
.fix {
	overflow:hidden;
}
.clearfix{
	clear: both;
}
.section-padding {
	padding: 100px 0;
}






.gradient-overlay {
    background: #ddd url(../img/bg33.jpg) no-repeat center center / cover;
    position: relative;
    z-index: 1;
    
}
.gradient-overlay:after {
    background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a4d99+1,fc05cf+100 */
        background: #0a4d99; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #0a4d99 1%, #fc05cf 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #0a4d99 1%,#fc05cf 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #0a4d99 1%,#fc05cf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a4d99', endColorstr='#fc05cf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .6;
    content: "";
    
}
.gradient-overlay:before {
    background: #fff;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1px;
    left: 0;
    top: 78px;
    opacity: .7;
    content: "";
    
}



.main-menu ul li {
  display: inline-block;
  text-transform: capitalize;
}
.main-menu ul li:first-child a {
  padding-left: 0;
}
.main-menu ul li a {
  display: block;
  padding: 30px;
  color: #fff;
  opacity: .9;
  font-weight: 700;
}
.main-menu ul li a:hover {
  opacity: 1;
}
.logo a img {
    transform: rotate(-30deg);
    width: 50px;

}
.logo-text {
    color: #fff;
    font-weight: 700;
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 1px;
}
.logo {
  padding: 25px 0;
}

.slider-content p {
  color: #fff;
  line-height: 1.7;
  margin-bottom: 60px;
}
.slider-content h1 {
  font-weight: 300;
  font-size: 42px;
  color: #fff;
  margin-bottom: 30px;
}
.btn-box a {
  color: #fff;
  padding: 10px 24px;
  letter-spacing: 1.5px;
  font-weight: 700;
  opacity: .6;
}
.btn-box a:hover {
  opacity: 1;
}
.left-btn {
  border: 2px solid #fff;
  border-radius: 50px;
}
.right-btn {
  border: none;
  text-decoration: underline;
}
.mobile {
    max-height: 600px;
}
.slider-content {
    padding: 150px 0;
}
.single-slider .row {
    position: relative;
}
.mobile {
    max-height: 600px;
    position: absolute;
    right: 140px;
    bottom: 0px;
    width: 40%;
}


















