/* Large devices (desktops, 992px and up) */
@media only screen and (min-width:992px) and (max-width:1200px) {
    

}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width:768px) and (max-width:991px) {
   
}

/* Moblie devices (mobile, 0px to 768px) */
@media only screen and (max-width:767px) {
   
.logo {
    text-align: center;
}
.header-menu {
    text-align: center;
    margin-bottom: 50px;
}
.header-menu ul li {
    display: block;
    padding: 0;
}
.header-menu ul li a {
    padding: 8px 0;
}
.footer-left {
    text-align: center;
    margin-bottom: 20px;
}
.footer-right {
    text-align: center;
}
.big-blog-content {
  padding-top: 80px;
  padding-bottom: 60px;
}
.sign-up {
  margin-bottom: 80px;
}



}

/* Wide Mobile Layout: (480px to 767px) */
@media only screen and (min-width:480px) and (max-width:767px) {

.header-menu ul li a {
    padding: 50px 30px;
}
.logo img {
    margin: 50px 0;
}















	
}