
/* ================= General ==================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body { 
	height: 100% 
}
body {
    font-family: sans-serif, serif;
	color: #61727f;
	background: #fff;
	line-height: 18px;
}

/* Link style
------------------------------ */
a{
	text-decoration: none;
}
a:focus {
	outline: 0 solid;
}
a:hover {
	text-decoration: none;
	color: blue;
    transition: all 0.3s ease; 
}

/* Transition elements
------------------------------ */
a,
.navbar a,
.form-control {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}


/* ================ Typography ================== */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: sans-serif;
	color: #212121;
	margin: 0;
}
.btn {
	color: #fff;
	padding: 14px 30px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: sans-serif;
	border-radius: 3px;
	box-shadow: 0 4px 5px rgba(34, 34, 34, 0.2);
}
.btn:hover {
    box-shadow: 0 8px 10px rgba(34, 34, 34, 0.2);
}
.btn-primary {
	background-color: #3452ff;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #3452ff;
    border-color: #3452ff;
}
.btn-sm {
    padding: 8px 20px;
    font-size: 12px;
    font-weight: 400;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
img {
	max-width:100%;
	height: auto;
}
.flex {
	display:flex;
}
.table {
	display: table;
	width: 100%;
	height: 100%;
}
.table-cell {
	display: table-cell;
	vertical-align: middle;
}
.space {
	justify-content:space-between;
}
.floatl {
	float:left;
}
.floatr {
	float:right;
}
.fix {
	overflow:hidden;
}
.clearfix{
	clear: both;
}
.section-padding {
	padding: 80px 0;
    background-color: #F2F3F8;
    margin: 50px 0;
}


.content {
    background-color: #ddd;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 260px;
    position: relative;
    z-index: 1;
    transition: all .5s ease;
	margin-bottom: 15px;
}
.bg1 {
     background-image: url(../img/bg3.jpg);
}
.bg2 {
    background-image: url(../img/bg2.jpg);
}

.absolute {
  position: absolute;
  width: 100%;
  color: #fff;
  bottom: 20px;
  text-transform: capitalize;
  transition: all .5s ease;
}
.absolute h2 {
  font-weight: 900;
  font-size: 42px;
  color: #fff;
  margin: 0 auto;
  line-height: 40px;
  margin-bottom: 14px;
}
.content:after {
  position: absolute;
  content: "";
  background: #333;
  opacity: .5;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.content:hover {
  transform: scale(1.04);
  box-shadow: 0 10px 20px #999;
}
.content:hover .absolute {
  bottom: 25px;
  transform: scale(1.04);
}































