$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$small_mobile:'(max-width: 767px)';
$large_mobile: 'only screen and (min-width: 480px) and (max-width: 767px)';