/* Large devices (desktops, 992px and up) */
@media only screen and (min-width:992px) and (max-width:1200px) {
    

}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width:768px) and (max-width:991px) {
   
}

/* Moblie devices (mobile, 0px to 768px) */
@media only screen and (max-width:767px) {
   .section-bg {
	  width: 100%;
	  height: 58%;
	}
	.section-bg:after {
	  height: 100%;
	}
}

/* Wide Mobile Layout: (480px to 767px) */
@media only screen and (min-width:480px) and (max-width:767px) {
	.section-bg {
	  width: 100%;
	  height: 58%;
	}
	.section-bg:after {
	  height: 100%;
	}
}